<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>TimeEdit</title>
		<script src="lib/jquery-min.js"></script>
		<script src="lib/underscore-min.js"></script>
		<script src="lib/backbone-min.js"></script>
		<script src="lib/backbone.localStorage-min.js"></script>
		<script src="app.js"></script>

		<link rel="stylesheet" href="style.css" />
	</head>

	<body>
		<header role="banner">
			<h1>TimeEdit</h1>
		</header>	

		<section id="controls">
			<label for="booking-location">Lokal</label>
			<input id="booking-location" type="search" placeholder="E.g. 3213" />
			<label for="booking-date">Datum</label>
			<input id="booking-date" type="date" />
			<label for="booking-start-time">Starttid</label>
			<input id="booking-start-time" type="time">
			<label for="booking-end-time">Sluttid</label>
			<input id="booking-end-time" type="time">
		</section>
		
		<section>
			<ul id="rooms" class="list"></ul>
		</section>

		<section>
			<h2>Mina bokningar</h2>
			<ul id="user-bookings" class="list"></ul>
		</section>

		<script type="text/html" id="booking-template">
			<p><strong>Rum:</strong> <%= room.name %></p>
			<p><strong>Tid:</strong> <%= date + ", "+startTime+"-"+endTime %></p>
			<p><a href="#" class="destroy">Avboka</a></p>
		</script>

		<script type="text/html" id="room-template">
			<h3 class="room-name"><%= name%> (<%= building%>)</h3>
			<dl>
				<dt>Type</dt><dd><%= type %></dd>
			</dl>
			<p>
				<button class="create-booking">Boka</button>
			</p>
		</script>
	</body>
</html>
