<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>TimeEdit</title>
		<script src="lib/jquery-min.js"></script>
		<script src="lib/underscore-min.js"></script>
		<script src="lib/backbone.js"></script>
		<script src="lib/backbone.localStorage.js"></script>
		<script src="app.js"></script>
		<script src="support.js"></script>
		<script src="bookings.js"></script>
		<script src="rooms.js"></script>
		<script src="views.js"></script>
		<script src="ui.js"></script>

		<link rel="stylesheet" href="style.css" />
	</head>

	<body>
		<header role="banner">
			<h1>TimeEdit</h1>
		</header>	
	
		<div role="main">
			<section id="controls">
				<ul>
					<li>
						<label for="booking-location">Rum</label>
						<input id="booking-location" type="search" size="30" placeholder="Ex. 3213" />
					</li>
					<li>
						<input id="booking-date" type="date" />
					</li>
					<li>
						<label for="booking-start-time" class="descriptive-help">Från</label>
						<input id="booking-start-time" data-time="start" type="time">
					</li>
					<li>
						<label for="booking-end-time" class="descriptive-help">Till</label>
						<input id="booking-end-time" data-time="end" type="time">
					</li>
				</ul>
			</section>
			
			<main>
				<ul id="rooms" class="list"></ul>
			</main>

			<aside role="complementary">
				<section>
					<h2>Mina bokningar</h2>
					<ul id="user-bookings" class="list"></ul>
				</section>
			</aside>
		</div>

		<script type="text/html" id="booking-template">
			<p><strong>Rum:</strong> <%= room.name %></p>
			<p><strong>Tid:</strong> <%= date + ", "+startTime+"-"+endTime %></p>
			<p><a href="#" class="destroy">Avboka</a></p>
		</script>

		<script type="text/html" id="room-template">
			<h3 class="room-name room-expand"><%= name%></h3>

			<div class="room-additional" hidden>
				<ul class="horizontal-list room-details tags">
					<li><%= building %></li>
					<li><%= type %></li>
				</ul>
				<p>
					<button class="create-booking">Boka</button>
				</p>
			</div>
		</script>

		<script>
			$(function() {
				App.start();
			});
		</script>

		<!-- Av Johan, Robin, Anno och Rolén -->
	</body>
</html>
