/*
	Styles for TimeEdit

 */

* {
	box-sizing: border-box;
}

body {
	font: 14px/1.5 "Helvetica Neue", sans-serif;
	margin: 2em 15%;
	color: #333;
	-webkit-font-smoothing: antialiased;
}

a {
	color: #0084F7;
	font-weight: 500;
	position: relative;
}

a:active {
	top: 1px;
}

[role="main"] {
	overflow: hidden;
}

main,
[role="complementary"] {
	float: left;
}

main {
	width: 65%;
}

[role="complementary"] {
	width: 35%;
	padding-left: 2em;
}

p {
	margin: 0;
}

h2 {
	font-weight: normal;
	color: #555;
}

h3 {
	font-size: 1.7em;
	margin: 0;
}

h4 {
	margin: 0;
	font-size: 1.2em;
}

h1 small,
h2 small,
h3 small,
h4 small {
	color: #888;
	font-weight: 500;
}

#controls {
	/*background-color: #E8F7FF;
	border: 1px solid #ddd;*/
	padding: 1em .5em;
	border-bottom: 3px solid #eee;
	font-size: 1.1em;
	margin-bottom: 2em;
}

#controls ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: table;
	width: 100%;
}

#controls ul li {
	display: table-cell;
}

#controls label {
	margin-right: 10px;
	color: #555;
}

#rooms > li {
	padding: .5em .5em;
	margin: 0;
	border: 1px solid transparent;
	position: relative;
}

#rooms .room-name {
	font-size: 1.4em;
}

#rooms > li.expanded {
	background-color: #f7f7f7;
	border-color: #bbb;
	box-shadow: inset #E3DD9F 0 0 4px;
}

#rooms > li.expanded:not(:first-child) {
	border-top-color: transparent;
}

#rooms > li:not(:last-child) {
	border-bottom-color: #d2d2d2;
}

#rooms .room-expand {
	cursor: pointer;
}

#rooms .room-details {
	font-size: .8em;
	position: absolute;
	right: 1em;
	top: 1.2em;
	color: #666;
}

#rooms .create-booking {
	font-size: 1.1em;
}

#rooms .room-details li:not(:last-child)::after {
	content: ", ";
}

#rooms > li:not(.expanded):hover .room-name span {
	background-color: #FCF99A;
}

.tags li {
	cursor: default;
	display: inline-block;
	background-color: #DEE9FF;
	padding: 0 4px;
	border-radius: 2px;
	border: 1px solid #BECDE8;
	color: #546075;
	font-weight: 500;
	box-shadow: rgba(0,0,0, 0.1) 0 0 2px;
}

/*#rooms .room-details li:not(:last-child)::after {
	content: "|";
	display: inline-block;
	margin-left: 5px;
	color: #999;
}*/


aside section:not(:last-child){
	margin-bottom: 2em;
}

#user-bookings > li {
	cursor: pointer;
	padding: 4px 8px;
	border-radius: 5px;
	border: 1px solid transparent;
}

#user-bookings > li:hover {
	border-color: #d2d2d2;
}

#user-bookings > li.expanded {
	padding-bottom: 8px;
	border-color: #828282;
}

#user-bookings > li.highlight {
	-webkit-animation: fadeOut 3s;
}

/*
	Forms
*/

.btn,
button,
input[type="button"],
input[type="submit"] {
	display: inline-block;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	border-radius: 3px;
	background-color: #e1e1e1;
	border: 0;
	font: bold 1em/1.5 sans-serif;
	color: #444;
	text-align: center;
	padding: .3em 1em;
	cursor: pointer;
	transition: background-color .15s ease-out;
}

.btn:active,
button:active,
input[type="button"]:active,
input[type="submit"]:active {
	outline: none;
	background-color: #d7d7d7;
}

.btn:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover {
	background-color: #d1d1d1;
}

.btn.accent,
button.accent,
input[type="button"].accent,
input[type="submit"].accent {
	background-color: #76BF60;
	color: #fff;
}

.btn.accent:hover,
button.accent:hover,
input[type="button"].accent:hover,
input[type="submit"].accent:hover {
	background-color: #60A34B;
}

.btn:disabled,
button:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled,
.btn:disabled:hover,
button:disabled:hover,
input[type="button"]:disabled:hover,
input[type="submit"]:disabled:hover {
	background-color: #f9f9f9;
	color: #444;
	border: 1px solid #bbb;
	color: #999;
	cursor: default;
}

input[type="text"],
input[type="date"],
input[type="search"],
input[type="time"] {
	display: inline-block;
	-webkit-appearance: none;
	padding: 5px;
	border: 1px solid #bbb;
	font: 90%/1.5 sans-serif;
	box-shadow: inset rgba(0,0,0, 0.1) 0 1px 1px;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="search"]:focus,
input[type="time"]:focus {
	border-color: #77B8ED;
	box-shadow: #B5DEFF 0 0 3px;
}

input[type="text"]:focus,
input[type="date"]:focus,
input[type="search"]:focus,
input[type="time"]:focus {
	outline: none;
}


input[type="search"] {
	border-radius: 2em;
}

label[for] {
	font-weight: bold;
	cursor: pointer;
}

.list {
	list-style: none;
	padding: 0;
}

.horizontal-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.horizontal-list li {
	display: inline-block;
}


@-webkit-keyframes fadeOut {
	from {
		background-color: #CDFABB;
	}

	to {
		background-color: transparent;
	}
}

.booking-extra {
	margin-top: .5em;
}

.booking-extra .confirmation-text {
	margin-bottom: .5em;
}

.action-links {
	font-size: 1.1em;
	display: table;
	width: 100%;
}

.action-links > span {
	background-color: #fff;
}

.action-links > span,
.action-links .confirmation span {
	padding: .3em .5em;
	width: 50%;
}

.action-links span {
	display: table-cell;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
}

.action-links > span:last-child {
	border-radius: 0 3px 3px 0;
}
.action-links > span:first-child {
	border-radius: 3px 0 0 3px;
	border-right: 0;
}

.action-links .destroy {
	border: 1px solid #ED1313;
	color: #ED1313;
}

.action-links .destroy:hover {
	background-color: #ED1313;
	color: #fff;
}

.action-links .update {
	border: 1px solid #1396ED;
	color: #1396ED;
}

.action-links .confirmation {
	display: table;
	width: 100%;
	border-radius: 3px;
	padding: 0;
	border-color: transparent;
}

.action-links .confirmation > div {
	display: table-row;
}

.action-links .confirmation:hover {
	background: none;
}

.action-links .update:hover {
	background-color: #1396ED;
	color: #fff;
}

.action-links .destroy-ok {
	background-color: #ED1313;
	color: #fff;
}

.action-links .destroy-cancel {
	background-color: #bbb;
	color: #fff;
}

/* HELPERS */

.detail {
	color: #888;
	font-size: .9em;
	font-style: italic;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.destroy {
	color: red;
}